<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: blue;
        }
        p{
            color: lightseagreen;
        }
        div{
            height: fit-content;
            width: fit-content;
            text-align: center;
            background-color: black;
        }
    </style>
</head>
<body>
    <div>
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eos tempore <br>magni aspernatur nulla iure tempora modi saepe
         illo iste excepturi veniam ut impedit, <br>itaque temporibus. Sit vitae eveniet distinctio!</p>
    </div>
</body>
</html>